@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    background:black;   
}

.contenedor-movimientos{
    margin-left:19%;
    width:100%;
}

#img-foto{
    width:80%;
    margin-left:10%;
}

.contenedor-saldo{
    width:100%;
    font-size:100px;
    text-align:center;
}
.texto.saldo {
    background:black;
}

.contenedor-formulario{
    width:500px;
    height:250px;
    border: 1px solid black;
}

.contenedor-registro {
    margin-top:100px;
    width: 500px;
    height: auto;
    border: 1px solid black;
}

.navbar-black{
    background-color: black !important;
}

.nav-link {
    font-size: 20px;
    color: white ;
}
.nav-item{
    padding-left: 40px;
   
}
.btn{
    width:100%;
}

#botones{
    display:flex;
}

.formulario-inicio {
    padding-top:55px;
}


.contenedor-formulario{
    margin-top:12%;
    border-radius: 10px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.p {
    color: black!important;
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.sidenav {
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
	
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.contenido-deposito, .contenido-metodoPago{
    margin:auto;
    float:right;
    width:80%;
}

.profilepic {
    padding-top: 98%;
    width: 80%;
    margin: auto;
}

.infoUser {
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
}

.rounded-circle{
    width:100%;
}

.deposito-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.deposito-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.a{
    text-decoration:none;
}

.input-fecha{
    width:10% !important;
}

.img-tarjeta {
    width: 100%;
    display: block;
    position: relative;
}

.contenedor-tarjeta {
    width: 100%;
    height: 20%;
    display: block;
    position: relative;
}

.num-tar {
    display: block;
    position: absolute;
    top:0%;
}

.form-container {
    margin-left:3%;
    margin-top:1%;
    width:60%;

}

.demo-container{
    display:flex;
    margin-left:3%;
    margin-top:-2%;
}

.form-container input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-container button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-container p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.grupo-tarjeta{
    display:flex;
    margin-right:50px;
    width:100%;
}

.input-cvv, .input-numeroTarjeta{
    margin-left:5%;
}

.grupo-input{
    width:50%;
}

.card-wrapper{
    margin-top:2.5%;
}

.contenido-deposito h1, .contenido-metodoPago h1{
    margin-left:5%;
    margin-top:3%;
    margin-bottom:8%;
}

.contenido-deposito h2 {
    margin-left: 15%;
    margin-top: 3%;
}

.contenedor-metodos{
    display:flex;
	margin-top:12%;
}

.grupo-metodoPago{
    border: 1px solid black;
    padding:2%;
    margin:auto;
    width:100%;
    text-align:center;
}

.contenedor {
    width: 35%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 6%;
    border-radius: 7%;
	
	
}


.contenedor-monto {
	display:flex;
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 6%;
	
	
}

.grupo-metodoPago input[type=radio]:checked + p {
    color: red;
}

.boton-metodo-pago{
    padding:0%;
    border: 1px solid black;
    border-radius:5%;
}

.boton-metodo-pago img{
    width:100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link.activo{
    color: red !important;
}

.contenedor-monto h2{
	margin-right:10%;
}

.contenedor-monto input{
	width:90%;
}